.moreVideos {
    text-align: center;
    width: 100%;
    @include align-items(stretch);
    @include display(flex);
    &__list {
        ul {
            li {
                display: block;
                width: 50%;
                margin: 0px;
                padding: 10px 10px;
                @include media($tabletPortrait) {
                    width: 50%;
                }
                @include media($phone-portrait-large) {
                    width: 100%;
                }
                a {
                    color: $black;
                    font-size: 20px;
                }
                img {
                    display: block;
                    padding-bottom: em(10px);
                    margin: auto;
                }
            }
        }
    }
   &__dogImage {
    background-color: $blockYellow;
    position: relative;
        @include align-items(stretch);
        img {
            margin: auto;
            width: 65%;
            height: auto;
        }
        &--centerDog {
                        position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
