.wrapper {
    @include outer-container();
    margin: 0;
    white-space: nowrap;
    width: 100%;
    justify-content: space-around;
    display: inline-flex;
    padding: em(20px);
    &__logo {
        @include span-columns(12, block-collapse);
        img {
            @include display(block);
            margin:0px auto;
        }
    }
}