h1 {
font-weight: bold;
text-align: center;
color:$grey;
}
ul {
    list-style-type: none;
    margin: em(0px);
    padding: em(0px);
}
a {
    @include links($white, $green, $red, $yellow);
}
video {
  width: 100%    !important;
  height: auto   !important;
}


// juicer social feed amendments

.juicer-feed h1.referral {
    display: none !important;
}

.j-stacker-wrapper {
    margin: 0px!important;
}
