//colours

$black: #000000;
$white: #ffffff;
$green: #165E00;
$red: #FF0000;
$yellow: #FFDD00;
$grey:#293d3d;


//font-size

$base__font-size: 16px;


//responsive

$largeDesktop: new-breakpoint(max-width 1200px);
$desktop: new-breakpoint(max-width 1080px);
$tabletLandscape: new-breakpoint(max-width 1024px);
$tabletPortrait: new-breakpoint(max-width 768px);
$phone-landscape-large: new-breakpoint(max-width 670px);
$phone-portrait-large: new-breakpoint(max-width 480px);
$phone-portrait-small: new-breakpoint(max-width 320px);
$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 850px);



// grid settings 



