//colours

$black: #000000;
$white: #ffffff;
$green: #165E00;
$red: #FF0000;
$yellow: #FFDD00;
$grey:#293d3d;
$purple: #b600ff;
$blue:#0052cc;
$pink:#ff5a9d;
$purpleOpac: rgba(182,0,255,0.5);
$whiteOpacity:rgba(255,255,255, 0.5);
$blockYellow: #4f2a5e;


//font-size

$base__font-size: 16px;


//responsive

$largeDesktop: new-breakpoint(max-width 1200px);
$desktop: new-breakpoint(max-width 1080px);
$tabletLandscape: new-breakpoint(max-width 1024px);
$tabletPortraitVideos: new-breakpoint(max-width 840px);
$tabletPortrait: new-breakpoint(max-width 768px);
$phone-landscape-large: new-breakpoint(max-width 670px);
$phone-portrait-large: new-breakpoint(max-width 480px);
$phone-portrait-small: new-breakpoint(max-width 320px);
$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 850px);

// fonts
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "PhillySans-Regular";
  src: url("../fonts/PhillySans.eot"); /* IE9 Compat Modes */
  src: url("../fonts/PhillySans.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/PhillySans.otf") format("opentype"), /* Open Type Font */
    url("../fonts/PhillySans.svg") format("svg"), /* Legacy iOS */
    url("../fonts/PhillySans.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/PhillySans.woff") format("woff"), /* Modern Browsers */
    url("../fonts/PhillySans.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Mission_Script';
  src: url('../fonts/Mission-Script.eot');
  src: url('../fonts/Mission-Script.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Mission-Script.woff2') format('woff2'),
    url('../fonts/Mission-Script.woff') format('woff'),
    url('../fonts/Mission-Script.ttf') format('truetype'),
    url('../fonts/Mission-Script.svg#Mission-Script') format('svg');
  font-weight: normal;
  font-style: normal;
}


$spray: "Mission_Script";



