.social {
    @include outer-container(100%);
    height: 100%;
    background-color: $white;
    &__WrapperOuter {
        @include span-columns(12);
        &--facebook {
            @include span-columns(4 of 12, block-collapse);
            background-color: $yellow;
            margin: 10px;
            width: calc(34.1192173411% - 30px);
        }
        &--twitter {
            @include span-columns(4 of 12, block-collapse);
            background-color: red;
            margin: 10px;
            width: calc(34.1192173411% - 30px);
        }
        &--insta {
            @include span-columns(4 of 12, block-collapse);
            background-color: green;
            margin: 10px;
            width: calc(34.1192173411% - 30px);
        }
    }
}

.videoAndGigs {
    @include outer-container(100%);
    &__WrapperOuter {
        @include span-columns(12);
        &--videoPane {
            @include span-columns(8 of 12, block-collapse);
            background-color: green;
            height: 100%;
        }
        &--gigs {
            @include span-columns(4 of 12, block-collapse);
            background-color: yellow;
            min-height: 100%;
            ul {
                margin-left: 20px;
                li {
                    padding: 5px;
                }
            }
        }
    }
}

.juicer-feed h1.referral {
    display: none !important;
}

.j-stacker-wrapper {
    margin: 0px!important;
}
