.social {
    @include outer-container(100%);
    height: 100%;
    background-color: $white;
    &__WrapperOuter {
        @include span-columns(12);

        &--facebook {
            @include span-columns(4 of 12, block-collapse);
            background-color: $yellow;

            margin: 10px;
            width: calc(34.1192173411% - 30px);
        }
        &--twitter {
            @include span-columns(4 of 12, block-collapse);
            background-color: red;
            height: 200px;
            margin: 10px;
            width: calc(34.1192173411% - 30px);
        }
        &--insta {
            @include span-columns(4 of 12, block-collapse);
            background-color: green;
            height: 200px;
            margin: 10px;
            width: calc(34.1192173411% - 30px);
        }
    }
}
.videoAndGigs {
    @include outer-container(100%);
    height: 100%;
    background-color: #000;
    &__WrapperOuter {
        @include span-columns(12);
        height: 200px;
        &--videoPane {
            @include span-columns(8 of 12, block-collapse);
            background-color: orange;
            height: 200px;
        }
        &--gigs {
            @include span-columns(4 of 12, block-collapse);
            background-color: yellow;
            height: 200px;
        }
    }
}

