.social {
    @include outer-container(100%);
    background: $whiteOpacity;
    height: 100%;
    padding: em(10px);
    @include media($phone-landscape-large) {
        @include display(none);
    }
    img {
        @include display(block);
        margin: 0px auto;
        padding-bottom: 10px;
    }
    &__facebook {
        @include span-columns(4);
        background-color: $yellow;
        padding: em(5px);
    }
    &__twitter {
        @include span-columns(4);
        background-color: red;
        padding: em(5px);
    }
    &__insta {
        @include span-columns(4);
        background-color: green;
        padding: em(5px);
    }
}

.block {
    @include outer-container();
    @include display(none);
    @include media($phone-landscape-large) {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(center);
        @include flex-flow(row wrap);
        background-color: shade($purple, 50%);
        padding: em(10px);
    }
    &__tile {
        @include span-columns(12, block-collapse);
        border: 2px solid #000;
        @include flex-grow(1);
        margin: 10px;
        max-width: 300px;
        height: 150px;
        background-color: tint($grey, 50%);
        &:hover {
            transform: scale(1.1);
        }
        &--colour {
            opacity: 0.75;
        }
        &--colourOne {
            opacity: 0.75;
        }
        &--colourTwo {
            opacity: 0.75;
        }
        h1 {
            font-size: em(40px);
            color: $white;
            background-color: shade($purple, 10%);
        }
        p {
            font-size: em(22px);
            text-decoration: underline;
            text-align: center;
            margin: em(2px);
        }
    }
}
