.videoAndGigs {
    @include outer-container(100%);
    @include align-items(stretch);
    @include display(flex);
    padding-top: em(15px);
    &__videoPane {
        @include span-columns(8);
        background-color: green;
        height: 100%;
    }
    &__gigs {
        @include span-columns(4);
        background-color: yellow;
        min-height: 100%;
    }
}
